.container {
  background-color: #fefefe;

  width: 100%;
  padding: 32px 24px 48px 24px;
  border-radius: 15px;

  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.profile {
  display: flex;
  gap: 19px;
  margin-bottom: 33px;
}

.profilePhoto {
  img {
    width: 70px;
    height: auto;
    border-radius: 50%;
  }
}

.profileInfo {
  h2 {
    font-size: 1rem; // 16px
  }

  a {
    color: var(--secondary);
    font-size: 0.8124rem; //13px
  }

  p {
    color: var(--textPrimary);
    font-size: 0.8124rem; //13px
  }
}

.bio {
  margin-bottom: 23px;
  font-size: 0.8125rem; //13px
  color: var(--textPrimary);
}

@media (min-width: 40em) {
  .profile {
    align-items: center;
    gap: 41px;
    margin-bottom: 24px;
  }

  .container {
    padding: 40px;
  }

  .profilePhoto {
    img {
      width: 117px;
      height: auto;
    }
  }

  .profileInfo {
    h2 {
      font-size: 1.625rem; // 26px
    }

    a {
      font-size: 1rem; //16px
    }

    p {
      font-size: 0.9375rem; //15px
    }
  }

  .bio {
    font-size: 0.9375rem; //15px
  }
}
