@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --primary: #fff;
  --secondary: #0079ff;

  --textPrimary: #4b6a9b;
  --textSecondaryHeadings: #2b3442;

  --lightTextSecondary: #697c9a;
  --lightCardBody: #fefefe;

  --statCardBg: #f6f8ff;
  --warning: #f74646;

  --font: "Space Mono", monospace; // weights 400 700
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
input,
button {
  font-family: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}

.container {
  width: 327px;
  margin: 0 15px;
}

@media (min-width: 40em) {
  .container {
    width: 573px;
  }
}

@media (min-width: 64em) {
  .container {
    width: 730px;
  }
}
